= render "devise/shared/header-user"

.wrapper
  .sign-in
    .sign-in__registration
      %pアカウントをお持ちでない方はこちら
      .sign-in__registration__btn
        = link_to '新規会員登録', new_user_registration_path

    .sign-in__omniauth
    .sign-in__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password"
        .sign-in__reCAPTHA
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
        .actions
          = f.submit "Log in"
      = render "devise/shared/links" # パスワードをお忘れの方はこちらを
