= render "devise/shared/header-user"

.sign-in-wrapper
  .sign-in
    .sign-in__registration
      %pアカウントをお持ちでない方はこちら
      .sign-in__registration__btn
        = link_to '新規会員登録', new_user_registration_path
    .sign-in__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field:first-child
          -# %br/
          = f.email_field :email, class: 'sign-in__form__field', autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
        .field
          -# %br/
          = f.password_field :password, class: 'sign-in__form__field', autocomplete: "current-password", placeholder: "パスワード"
        -# 現時点では不要
          -# - if devise_mapping.rememberable?
          -#   .field
          -#     = f.check_box :remember_me
          -#     = f.label :remember_me
        .action
          = f.submit "ログイン", class: 'sign-in__btn'

      -# 現在は不要「パスワードをお忘れの方はこちら」
      -# = render "devise/shared/links" 

= render "tests/footer"