%section
  %h1.item-name 送料無料❇︎大人ネックレス＊レトロ、ヴィンテージ　ゴールド
  .item-main_box
    .item-main_box__photo-box
      .item-main_box__photo-box__top-photo
      .item-main_box__photo-box__under-box
    %table.item-main_box__detail-box
      %tbody
        %tr
          %th 出品者
          %td
        %tr
          %th カテゴリー
          %td
        %tr
          %th ブランド
          %td
        %tr
          %th 商品の状態
          %td
        %tr
          %th 配送料の負担
          %td
        %tr
          %th 発送の方法
          %td
        %tr
          %th 配送元地域
          %td
        %tr
          %th 発送日の目安
          %td
  .item-prices
    %span.price ¥700円
    %span.tax (税込)
    %span.option 送料込み
  = link_to "", class: "purchase_btn" do
    購入画面に進む
  .item-detail_text
    %p
      ご覧頂きありがとうございます⑅︎◡̈︎*
      よろしくお願いします୧⃛(⃙⃘◡̈︎⃙⃘)୨⃛
      %br/
      素敵なネックレスです。
      不確かですが、ピエールカルダンのネックレスかと思います。
      %br/
      素材などわかりません。
      %br/
      返品などはお断りしています。
      分からないことがありましたら、お気軽にコメント下さいね。
      %br/
      %br/
      土日は発送出来きない事が多いです。
      家の不用品などを出品しています。
      ペット居ます。
      %br/
      %br/
      最後までお読みくださりありがとうございました♪
      %br/
      %br/
      ピエールカルダン
      ネックレス
      ヴィンテージ
      アクセサリー
      ゴールドネックレス
      レトロ
  .item-under_box
.comment-box
  .comment-box__contents
    .comment-box__contents__content
      %form(action="")
        %p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea
        %button
          %span コメントする
.icon-box


.item-boxes 
  %section.item-boxes__item-box.clearfix
    %h2.item-boxes__item-box__head
      = link_to "" do
        かえでさんのその他の出品
    .item-boxes__item-box__contents.clearfix
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
.item-boxes 
  %section.item-boxes__item-box.clearfix
    %h2.item-boxes__item-box__head
      = link_to "" do
        かえでさんのその他の出品
    .item-boxes__item-box__contents.clearfix
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
      %section.item-boxes__item-box__contents__content
        = link_to "" do
          %figure
            = image_tag ''
          .text
            %h3
              送料無料 ハンドメイド レース編み お花29個 編み小物
            .text__under
              .text__under__price
                ¥600
