-# メイン -------------------------------------------------------
.main
  %section.main--1
    .main--1__content
      %h2 
        %br/
        人生を変えるフリマアプリ
      %p 
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
    .main--1__btn
      %a(href="")
        %img(src="" alt="")/
      %a(href="")
        %img(src="" alt="")/
  %section.main--2
    
    %h2 FRIMAが選ばれる3つの理由
    %ul
      %li
        .list__image
          %span 1
          = image_tag 'pict/pict-reason-01.jpg'
        %h3 
          %span 3分
          ですぐに出品
        %p スマホで入力するだけで簡単に出品できる!
      %li
        .list__image
          %span 2
          = image_tag 'pict/pict-reason-02.jpg'
        %h3 
          %span シンプル
          で使いやすい
        %p めんどくさい入力は必要なく、検索も購入もスムーズ!
      %li
        .list__image
          %span 3
          = image_tag 'pict/pict-reason-03.jpg'
        %h3 
          手数料
          %span 業界最安
        %p 最大3%でお得に出品＆購入!
  %section.main--3
    .main--3__contents
      %h2　会員数日本一位
      %p 
        FRIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      %img(src="" alt="")/
      %img(src="" alt="")/
  %section.main--4
    %h2 FURIMAの特徴
    .main--4__contents
      %section
        %figure
          = image_tag 'icon/icon-01.png'
        %h3 簡単に売り買いできる
        %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section
        %figure
          = image_tag 'icon/icon-03.png'
        %h3 売上金は即日振込みに対応
        %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      %section
        %figure
          = image_tag 'icon/icon-04.png'
        %h3 様々な支払いに対応
        %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %section.main--5
    %h2 ピックアップカテゴリー
    .main--5__contents
      .main--5__contents--header
        %a(href="")
          %h3 新規投稿商品
      .main--5__contents--lists
        .main--5__contents--lists--list
          %a(href="")
            %figure
              = image_tag ''
            .main--5__contents--lists--list__content
              %h3 product3
              .main--5__contents--lists--list__content__detail
                %ul
                  %li 30000円
                  %li
                %p (税込)
        .main--5__contents--lists--list
          %a(href="")
            %figure
              = image_tag ''
            .main--5__contents--lists--list__content
              %h3 product2
              .main--5__contents--lists--list__content__detail
                %ul
                  %li 20000円
                  %li
                %p (税込)
        .main--5__contents--lists--list
          %a(href="")
            %figure
              = image_tag ''
            .main--5__contents--lists--list__content
              %h3 product1
              .main--5__contents--lists--list__content__detail
                %ul
                  %li 10000円
                  %li
                %p (税込)
  %section.main--5
    %h2 ピックアッブランド
    .main--5__contents
      .main--5__contents--header
        %a(href="")
          %h3 アーカイバ
      .main--5__contents--lists
        .main--5__contents--lists--list
          %a(href="")
            %figure
              = image_tag ''
            .main--5__contents--lists--list__content
              %h3 product3
              .main--5__contents--lists--list__content__detail
                %ul
                  %li 30000円
                  %li
                %p (税込)
        .main--5__contents--lists--list
          %a(href="")
            %figure
              = image_tag ''
            .main--5__contents--lists--list__content
              %h3 product3
              .main--5__contents--lists--list__content__detail
                %ul
                  %li 30000円
                  %li
                %p (税込)
        .main--5__contents--lists--list
          %a(href="")
            %figure
              = image_tag ''
            .main--5__contents--lists--list__content
              %h3 product3
              .main--5__contents--lists--list__content__detail
                %ul
                  %li 30000円
                  %li
                %p (税込)
